/* ================================================================== */
/* Created by: Konrad Kowalski <kkowalskipl@gmail.com> on DD-MM-RRRR  */
/* ================================================================== */

@charset "utf-8";

/* === PageCSS ====================================================== */
body{overflow: scroll;}
#chat {
	width: 200px;
	position:fixed;
	bottom: 0px;
	right: 460px;
}
	#chat .title {
		height: 22px;
		line-height: 22px;
		text-align: left;
		font-size: 12px;
		font-weight: bold;
		padding-left: 10px;
		background: #ebeef4;
		border: solid 1px rgba(0, 0, 0, .3);
		cursor: pointer;
	}
	#chat .title:hover {
		background: #f5f7fa;
	}
		#chat .title a {
			width: 8px;
			height: 8px;
			line-height: 15px;
			margin-top: 3px;
			margin-right: 11px;
			padding: 4px;
			background: url(http://static.ak.fbcdn.net/rsrc.php/v1/yw/r/vUFtxHntqDs.png) -274px -140px;
			float: right;
		}
		#chat .title a:hover {
			background: #627bae url(http://static.ak.fbcdn.net/rsrc.php/v1/yw/r/vUFtxHntqDs.png) -296px -140px;
		}

#otwarty {
	width: 200px;
	position: absolute;
	bottom: 0px;
	right: 250px;
}
	#otwarty .tytul {
		height: 25px;
		line-height: 25px;
		text-align: left;
		font-size: 12px;
		font-weight: bold;
		color: #FFF;
		background: #6D84B4;
		cursor: pointer;
		border: solid 1px rgba(0, 0, 0, .3); border-bottom: none;
		padding-left: 10px;
	}
	#otwarty .tytul:hover {
		background: #627bae;
	}
		#otwarty .tytul .opcje {
			width: 12px;
			height: 12px;
			background: url(http://static.ak.fbcdn.net/rsrc.php/v1/yw/r/vUFtxHntqDs.png) -401px -100px;
			margin-top: 6px;
			float: right;
		}
		#otwarty .tytul .opcje:hover {
			background: url(http://static.ak.fbcdn.net/rsrc.php/v1/yw/r/vUFtxHntqDs.png) -424px -100px;
		}
		#otwarty .tytul .esc {
			width: 10px;
			height: 12px;
			background: url(http://static.ak.fbcdn.net/rsrc.php/v1/yw/r/vUFtxHntqDs.png) -277px -142px;
			margin: 5px;
			float: right;
		}
		#otwarty .tytul .esc:hover {
			background:  url(http://static.ak.fbcdn.net/rsrc.php/v1/yw/r/vUFtxHntqDs.png) -299px -142px;
		}
	#otwarty .cialo {
		width: 198px;
		height: 250px;
		border-left: solid 1px rgba(0, 0, 0, .3);
		border-right: solid 1px rgba(0, 0, 0, .3);
		overflow: auto;
	}	
	#otwarty .pisanie {
		width: 198px;
		height: 22px;
		border: solid 1px rgba(0, 0, 0, .3);
		float: left;
	}	
		#otwarty .pisanie span {
			width: 11px;
			height: 15px;
			background: url(http://static.ak.fbcdn.net/rsrc.php/v1/yw/r/vUFtxHntqDs.png) -0px -100px;
			position: absolute;
			bottom: 5px;left: 5px;
		}
		#otwarty .pisanie textarea {
			width: 175px;			
			height: 15px;
			line-height: 15px;
			font-size: 12px;
			border: none;
			overflow: none;
			position: absolute;
			right: 1px;
			margin-top: 2px;outline-style: none;
		}

#lista {
	width: 210px;
	height: 95%;
	position: fixed;
	bottom: 22px;
	right: 0px;
	background: #D8DFEA;
	border: solid 1px rgba(0, 0, 0, .3);
	padding-top: 5px;
	padding-bottom: 3px;
}
	#lista #obramowanie {
		height: 100%;
		border-top: solid 1px #000;
		border-bottom: solid 1px #000;
		margin-top: 2px;
		margin-bottom: 6px;
		overflow: auto;
	}
	#lista #obramowanie ul li{
		width: inherit;
	}
	#lista #obramowanie ul li a {
		background: #EFF2F7;
		padding: 2px;
		display: block;
	}
	#lista #obramowanie ul li a:hover {
		background: #D8DFEA;
		text-decoration: none;
	}
		#lista #obramowanie ul li a img {
			width: 30px;
			height: 30px;
			background: #666;
			vertical-align: middle;
			display: inline-block;
		}
		#lista #obramowanie ul li a .nazwa {
			width: 150px;
			text-align: left;
			margin-left: 3px;
			display: inline-block;
		}
		#lista #obramowanie ul li a .on {
			width: 7px;
			height: 7px;
			background: url(http://static.ak.fbcdn.net/rsrc.php/v1/yw/r/vUFtxHntqDs.png) -0px -206px;
			display: inline-block;
		}
		#lista #obramowanie ul li a .off {
			width: 7px;
			height: 7px;
			background: url(http://static.ak.fbcdn.net/rsrc.php/v1/yw/r/vUFtxHntqDs.png) -0px -236px;
			display: inline-block;
		}

#men {
	width: 210px;
	height: 22px;
	background: #EFF2F7;
	position: absolute;
	bottom: 0px;
	right: 0px;
	border: solid 1px rgba(0, 0, 0, .3);
}
	#men input[type=text] {
		height: 19px;
		border: none;
		border-right: solid 1px rgba(0, 0, 0, .3);
		background: none;
		outline: none;float: left;
	}

#men span {
	width: 22px;
	height: 21px;
	float: left;
	background: url(http://static.ak.fbcdn.net/rsrc.php/v1/yw/r/vUFtxHntqDs.png) -0px -263px;
}
	#men a {
		width: 24px;
		height: 20px;
		background: #fff;float: left;
	}
	#men a#opc {
		border-right: solid 1px rgba(0, 0, 0, .3);
		background: url(http://static.ak.fbcdn.net/rsrc.php/v1/yw/r/vUFtxHntqDs.png) -30px -65px;
	}
	#men a#es {
		width: 25px;
		height: 20px;
		background: url(http://static.ak.fbcdn.net/rsrc.php/v1/yw/r/vUFtxHntqDs.png) -55px -65px;
		float: left;
	}
	#men a#es:hover {
		background-color: #fff;
	}
	#men a#opc:hover {
		background-color: #fff;
	}
